block vars
	- var lang                  = 'tr'
	- var websiteName           = 'Teknasyon'
	- var webSiteDomainUrl      = ''
	- var webSiteEmail          = ''

	- var pageTitle             = 'Teknasyon'
	- var pageDescription       = ''
	- var pageKeyword           = ''
	- var pageAuthor            = ''
	- var pageLink              = ''
	- var bodyClass             = ''
	- var headerClass           = ''

	- var useMetaTags            = true
	- var useTwitterMetaTags     = false
	- var useFacebookMetaTags    = false
	- var useTouchIcons          = false
	
	- var twitterCard            = 'summary'
	- var twitterHandler         = '@Teknasyon'
	- var twitterTitle           = 'Twitter Title'
	- var twitterDescription     = 'Twitter Description'
	- var twitterImage           = 'Twitter Image'
	- var twitterUrl             = 'https://twitter.com/Teknasyon'
	- var facebookType           = 'website'
	- var facebookTitle          = 'Facebook Title'
	- var facebookDescription    = 'Facebook Description'
	- var facebookImage          = 'Facebook Image'
	- var facebookLocale         = 'tr_TR'
	- var facebookUrl            = 'https://www.facebook.com/Teknasyon'

	- var titleBoxTitle 				 = ''
	- var pageMap 							 = false
	- var pageLang 							 = 'tr'
	- var menuSelected				 	 = ''