.alignleft,
.a-left {
  float: left !important;
  margin: 0.5em 1em 0.5em 0em;
}

.alignright,
.a-right {
  float: right !important;
  margin: 0.5em 0em 0.5em 1em;
}

.aligncenter,
.a-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.mt-0 {
  margin-top: 0px !important;
}

.mb-10 {
  margin-bottom: 0px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.m-0 {
  margin: 0px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.p-0 {
  margin: 0px !important;
}

.bt-0 {
  border-top: 0px !important;
}

.bb-0 {
  border-bottom: 0px !important;
}

.bl-0 {
  border-left: 0px !important;
}

.br-0 {
  border-right: 0px !important;
}