// footer
.footer 
  .container
    .save
      button#btn Kaydet ve Devam Et
      button#btn2.hide Kaydet ve Devam Et
      button#back.hide << Geri
      button#back2.hide << Geri
      button#paymentButton.hide Ödeme Yap ve Bitir
// footer end 