.home
    .container
    .steps.hide#steps3
        .stepBox
        ion-icon(class='icons' id='icons1' name='calendar-outline')
        p Otel ve Tarih Seçimi
        hr
        .stepBox
        ion-icon(class='icons' id='icons2' name='bed-outline')
        p Oda Tipi ve Manzara Seçimi
        hr
        .stepBox#step3
        ion-icon(class='icons' id='icons3' name='card-outline')
        p Önizleme ve Ödeme İşlemleri
main#step3Main.hide
    section.payment
        .container
            .userCards
                .creditCard
                    .crCardText
                        h1 Credit<i>Card</i>
                    .bank 
                        h1 BANK 
                    .cardLogo
                        ion-icon(name='qr-code')
                    .cardNumber
                        h1#cardText
                    .cardName
                        h1#cardName 
                    .month
                        p#cardMonth 
                        p.hide#cardSlash /
                        p#cardYear
                    .mastercard 
                        img(src="https://www.logo.wine/a/logo/Mastercard/Mastercard-Logo.wine.svg" alt="")
                .cardsinfo
                    form(action="")
                        fieldset
                            legend Kredi Kartı Bilgileri
                            label.formText Kartın Üzerindeki İsim
                            br
                            input.textinput#cardNameText(type="text" placeholder="Kart Üzerindeki İsim Giriniz")
                            br
                            label.formText Kartın Numarası
                            br
                            input.textinput#cardNumber(type="text" maxlength=19 placeholder="Kart Numarasını Giriniz")
                            br
                            label.formText Kart Son Kullanma Tarihi
                            br
                            select#month
                                option(value="01") 1
                                option(value="02") 2
                                option(value="03") 3
                                option(value="04") 4
                                option(value="05") 5
                                option(value="06") 6
                                option(value="07") 7
                                option(value="08") 8
                                option(value="09") 9
                                option(value="10") 10
                                option(value="11") 11
                                option(value="12") 12
                            select#year
                                option(value="20") 20 
                                option(value="21") 21
                                option(value="22") 22
                                option(value="23") 23
                                option(value="24") 24
                                option(value="25") 25
                                option(value="26") 26
                                option(value="27") 27
                                option(value="28") 28
                                option(value="29") 29
                                option(value="30") 30
                                option(value="31") 31
                            label.cvv CVV
                            br
                            input.cvvText(type="text" maxlength=3 placeholder="CVV Giriniz") 
            .userOtels
                
