main.hide#lastPage
    section.done 
        .container 
            .donePages
                .doneLogo
                    ion-icon(name='bag-check-outline')
                .rezKayit 
                    h1 Rezervasyon kaydınız alınmıştır.
                    p Rezervasyon özetiniz aşağıdaki gibidir. Rezervasyon kaydınızda değişiklik veya yeni rezervasyon yapmak için aşağıdaki linkleri kullanabilirsiniz.
                .rezButton 
                    button Yeni Rezervasyon Yap
                    button Rezervasyonu Güncelle
                    button Rezervasyonu İptal Et
            .doneInfo