.home
    .container
    .steps.hide
        .stepBox
        ion-icon(class='icons' id='icons1' name='calendar-outline')
        p Otel ve Tarih Seçimi
        hr
        .stepBox#step2
        ion-icon(class='icons' id='icons2' name='bed-outline')
        p Oda Tipi ve Manzara Seçimi
        hr
        .stepBox 
        ion-icon(class='icons' id='icons3' name='card-outline')
        p Önizleme ve Ödeme İşlemleri
main#step2Main.hide
    section#selectOtels
        .chaptertwo
            .container
                .chapter
                    .otelname
                    .otelbilgi
        .type
            .container 
                .oteltype
                    h2 Oda Tip Seçimi 
                    .oteltipleri
        .type
            .container 
                .oteltype#manzara 
                    h2 Manzara Seçimi
                    .oteltipleri
                        
